### PROJECT BASED ##
/10_RESOURCES
/data
/logs
db-build/bbd_database_create.sql
/docker-build
/db-build
/server-build
/src/main/scripts
/src/main/resources/application-dev.yml
/src/main/resources/application-prod.yml
/src/main/resources/templates/application-h2o.yml

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

/src/test/java/com/bringbackdada/site/controllers/AdminAddBlogControllerTest.java
/src/test/java/com/bringbackdada/site/controllers/AdminAddGalleryControllerTest.java
/src/test/java/com/bringbackdada/site/controllers/AdminAddProjectControllerTest.java
/src/test/java/com/bringbackdada/site/controllers/AdminAddGalleryControllerIT.java
/src/test/java/com/bringbackdada/site/controllers/AdminAddContentControllerTest.java
/src/test/java/com/bringbackdada/site/controllers/AdminAddProjectControllerIT.java
/src/test/java/com/bringbackdada/site/controllers/AdminAddContentControllerIT.java
/src/test/java/com/bringbackdada/site/controllers/AdminAddBlogControllerIT.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
