<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--*/-->

<head th:fragment="head_admin_tag">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title_text}">Bringbackdada.com - ADMIN</title>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.5.2-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/fonts.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/jquery.detect_swipe.min.js"></script>

</head>

<body>

<!-- CONTENT INPUT FIELDS-->
<!--@thymesVar id="content" type="com.bringbackdada.site.model.ContentCommand"-->
<div class="form-container" id="content_input_form" th:fragment="content-input">

    <div class="form_title_text">ADD NEW CONTENT</div>

    <div class="form">
        <form id="content_input" class="form-group" action="#"
              th:action="@{/admin/save-new-content}" method="post" enctype="multipart/form-data">
            <input type="hidden">

            <div class="form-field">
                <label class="form label">Content title</label>
                <label>
                    <input type="text" name="contentTitle">
                </label>
            </div>

            <div class="form-field">
                <label class="form label" for="creators">Select a creator</label>
                <select name="creators" id="creators" multiple="multiple">
                    <option th:value="${iter.id}" th:each="iter : ${creatorSet}" th:text="${iter.name}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label" for="license">Select a license type</label>
                <select name="license" id="license">
                    <option th:value="${iter.id}" th:each="iter : ${licenseSet}" th:text="${iter.category}">--placeholder--
                    </option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label">Descriptive text</label>
                <label>
                    <textarea id="content_text" name="description"></textarea>
                </label>
            </div>

            <div class="form-field">
                <label class="form label" for="file">Select an image:</label>
                <input type="file" id="file" name="imageFile">
            </div>

            <div class="form-field">
                <label class="form label">Image ALT text</label>
                <label>
                    <input type="text" name="altText">
                </label>
            </div>

            <div class="form-field">
                <label class="form label" for="category">Content category</label>
                <select name="category" id="category">
                    <option th:each="state : ${T(com.bringbackdada.site.model.ContentCategory).values()}"
                            th:value="${state}"
                            th:text="${state}">
                    </option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label" for="notOnPage">Not featured</label>
                <input type="radio" id="notOnPage" name="featured" value="0" checked="checked">
                <label class="form label" for="onPage">Featured</label>
                <input type="radio" id="onPage" name="featured" value="1">
            </div>

            <div class="form-field">
                <label class="form label">Content order</label>
                <label>
                    <input type="text" name="contentOrder">
                </label>
            </div>

            <div class="form-field">
                <label class="form label" for="category">Visibility</label>
                <select name="visible" id="visible">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-primary">Add content</button>
            </div>

        </form>
    </div>
</div>

<!-- GALLERY INPUT FIELDS-->
<!--@thymesVar id="content" type="com.bringbackdada.site.model.GalleryCommand"-->
<div class="form-container" id="gallery_input_form" th:fragment="gallery-input">

    <div class="form_title_text">ADD NEW GALLERY</div>

    <div class="form">
        <form id="gallery_input" class="form-group"
              th:action="@{/admin/save-new-gallery}" method="post">
            <input type="hidden">

            <div class="form-field">
                <label class="form label">Gallery title</label>
                <label>
                    <input type="text" name="title">
                </label>
            </div>

            <div class="form-field" id="new_gallery_select_box">
                <label class="form label" for="content">Select content</label>
                <select name="content" id="content" multiple="multiple">
                    <option th:value="${iter.id}" th:each="iter : ${contentSet}" th:text="${iter.contentTitle}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label">Descriptive text</label>
                <label>
                    <textarea id="gallery_text" name="description"></textarea>
                </label>
            </div>

            <div class="form-field">
                <label class="form label">Gallery order</label>
                <label>
                    <input type="text" name="galleryOrder">
                </label>
            </div>


            <div class="form-field">
                <label class="form label" for="notFeatured">Not featured</label>
                <input type="radio" id="notFeatured" name="featured" value="0" checked="checked">
                <label class="form label" for="featured">Featured</label>
                <input type="radio" id="featured" name="featured" value="1">
            </div>

            <div class="form-field">
                <label class="form label" for="item_visible">Visible</label>
                <input type="radio" id="item_visible" name="visible" value="1" checked="checked">
                <label class="form label" for="item_not_visible">Hidden</label>
                <input type="radio" id="item_not_visible" name="visible" value="0">
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-primary">Add new gallery</button>
            </div>

        </form>
    </div>
</div>

<!-- BLOG INPUT FIELDS-->
<!--@thymesVar id="content" type="com.bringbackdada.site.model.BlogCommand"-->
<div class="form-container" id="blog_input_form" th:fragment="blog-input">

    <div class="form_title_text">ADD NEW BLOG</div>

    <div class="form">
        <form id="blog_input" class="form-group"
              th:action="@{/admin/save-new-blog}" method="post">
            <input type="hidden">

            <div class="form-field">
                <label class="form label">Blog title</label>
                <label>
                    <input type="text" name="entryName">
                </label>
            </div>

            <div class="form-field">
                <label class="form label">Blog text</label>
                <label>
                    <textarea id="blog_text" name="entryContent"></textarea>
                </label>
            </div>

            <div class="form-field">
                <label class="form label">Blog snippet</label>
                <label>
                    <textarea id="blog_snippet" name="entrySnippet"></textarea>
                </label>
            </div>

            <div class="form-field">
                <label class="form label" for="blogCreator">Select a creator</label>
                <select name="creator" id="blogCreator" multiple="multiple">
                    <option th:value="${iter.id}" th:each="iter : ${creatorSet}" th:text="${iter.name}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label" for="category">Content category</label>
                <select name="category" id="blogCategory">
                    <option th:each="state : ${T(com.bringbackdada.site.model.ContentCategory).values()}"
                            th:value="${state}"
                            th:text="${state}">
                    </option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label" for="blogImage">Select blog image</label>
                <select name="content" id="blogImage" multiple="multiple">
                    <option th:value="${iter.id}" th:each="iter : ${contentSet}" th:text="${iter.contentTitle}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-primary">Add new blog</button>
            </div>

        </form>
    </div>
</div>

<!-- PROJECT INPUT FIELDS-->
<!--@thymesVar id="content" type="com.bringbackdada.site.model.ProjectCommand"-->
<div class="form-container" id="project_input_form" th:fragment="project-input">

    <div class="form_title_text">ADD NEW PROJECT</div>

    <div class="form">
        <form id="project_input" class="form-group"
              th:action="@{/admin/save-new-project}" method="post">
            <input type="hidden">

            <div class="form-field">
                <label class="form label">Project title</label>
                <label>
                    <input type="text" name="projectTitle">
                </label>
            </div>

            <div class="form-field">
                <label class="form label" for="project">Project category</label>
                <select name="category" id="project">
                    <option th:each="state : ${T(com.bringbackdada.site.model.ProjectCategory).values()}"
                            th:value="${state}"
                            th:text="${state}">
                    </option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label">Project description</label>
                <label>
                    <textarea id="project_description" name="description"></textarea>
                </label>
            </div>

            <div class="form-field">
                <label class="form label" for="gallerySet">Select galleries</label>
                <select name="galleries" id="gallerySet" multiple="multiple">
                    <option th:value="${iter.id}" th:each="iter : ${gallerySet}" th:text="${iter.galleryTitle}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label" for="creatorSet">Select creators</label>
                <select name="creators" id="creatorSet" multiple="multiple">
                    <option th:value="${iter.id}" th:each="iter : ${creatorSet}" th:text="${iter.name}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label" for="blogSet">Select blogs</label>
                <select name="blogs" id="blogSet" multiple="multiple">
                    <option th:value="${iter.id}" th:each="iter : ${blogSet}" th:text="${iter.entryName}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label">Project tags (comma separated)</label>
                <label>
                    <input type="text" name="tags">
                </label>
            </div>

            <div class="form-field">
                <label class="form label" for="visible">Not visible on the project page</label>
                <input type="radio" id="notVisible">Visible</label>
                <input type="radio" id="rollVisible" name="rollVisible" value="1">
            </div>

            <div class="form-field">
                <label class="form label">Project order</label>
                <label>
                    <input type="text" name="projectOrder">
                </label>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-primary">Add new project</button>
            </div>

        </form>
    </div>
</div>


<!-- GALLERY DELETE FIELDS-->
<div class="form-container" id="gallery-delete-form" th:fragment="gallery-delete">

    <div class="form_title_text">DELETE A GALLERY</div>

    <div class="form">
        <form id="gallery-delete" class="form-group"
              th:action="@{/admin/delete-a-gallery}" method="post">
            <input type="hidden">

            <div class="form-field">
                <label class="form label" for="galleries">Select gallery to delete</label>
                <select name="galleryToDelete" id="galleries">
                    <option th:value="${iter.id}" th:each="iter : ${galleries}" th:text="${iter.galleryName}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-primary">Delete permanently</button>
            </div>

        </form>
    </div>
</div>

<!-- CONTENT DELETE FIELDS-->
<div class="form-container" id="content-delete-form" th:fragment="content-delete">

    <div class="form_title_text">DELETE SOME CONTENT</div>

    <div class="form">
        <form id="content-delete" class="form-group"
              th:action="@{/admin/delete-this-content}" method="post">
            <input type="hidden">

            <div class="form-field">
                <label class="form label" for="gallerySet">Select content to delete</label>
                <select name="contentToDelete" id="allContent">
                    <option th:value="${iter.id}" th:each="iter : ${allContent}" th:text="${iter.id + ' ' + iter.contentTitle}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-primary">Delete permanently</button>
            </div>

        </form>
    </div>
</div>

<!-- CREATOR DELETE FIELDS-->
<div class="form-container" id="creator-delete-form" th:fragment="creator-delete">

    <div class="form_title_text">DELETE A CREATOR</div>

    <div class="form">
        <form id="creator-delete" class="form-group"
              th:action="@{/admin/delete-this-creator}" method="post">
            <input type="hidden">

            <div class="form-field">
                <label class="form label" for="gallerySet">Select creator to delete</label>
                <select name="creatorToDelete" id="allCreators">
                    <option th:value="${iter.id}" th:each="iter : ${allCreators}" th:text="${iter.id + ' ' + iter.name}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-primary">Delete permanently</button>
            </div>

        </form>
    </div>
</div>

<!-- PROJECT DELETE FIELDS -->
<div class="form-container" id="project-delete-form" th:fragment="project-delete">

    <div class="form_title_text">DELETE A PROJECT</div>

    <div class="form">
        <form id="project-delete" class="form-group"
              th:action="@{/admin/delete-a-project}" method="post">
            <input type="hidden">

            <div class="form-field">
                <label class="form label" for="projects">Select project to delete</label>
                <select name="projectToDelete" id="projects">
                    <option th:value="${iter.id}" th:each="iter : ${projects}" th:text="${iter.name}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-primary">Delete permanently</button>
            </div>

        </form>
    </div>
</div>

</body>
</html>