<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--*/-->

<head th:fragment="head_admin_tag">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title_text}">Bringbackdada.com - ADMIN</title>

    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.5.2-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/fonts.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/jquery.detect_swipe.min.js"></script>

</head>

<body>

<!-- CONTENT INPUT FIELDS-->
<!--@thymesVar id="content" type="com.bringbackdada.site.model.Content"-->
<div class="form-container" id="content_input_form" th:fragment="content-input">

    <div class="form_title_text">ADD NEW CONTENT</div>

    <div class="form">
        <form id="content_input" class="form-group"
              th:action="@{/admin/save-new-content}" method="post" enctype="multipart/form-data">
            <input type="hidden">

            <div class="form-field">
                <label class="form label">Content title</label>
                <label>
                    <input type="text" name="contentTitle">
                </label>
            </div>

            <div class="form-field">
                <label class="form label" for="creators">Select a creator</label>
                <select name="creators" id="creators">
                    <option th:value="${iter.id}" th:each="iter : ${creatorSet}" th:text="${iter.name}">--placeholder--</option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label" for="license">Select a license type</label>
                <select name="license" id="license">
                    <option th:value="${iter.id}" th:each="iter : ${licenseSet}" th:text="${iter.category}">--placeholder--
                    </option>
                </select>
            </div>

            <div class="form-field">
                <label class="form label">Descriptive text</label>
                <label>
                    <textarea id="content_text" name="description"></textarea>
                </label>
            </div>

            <div class="form-field">
                <label class="form label" for="file">Select an image:</label>
                <input type="file" id="file" name="imageFile">
            </div>

            <div class="form-field">
                <label class="form label" for="category">Content category</label>
                <select name="category" id="category">
                    <option th:each="state : ${T(com.bringbackdada.site.model.ContentCategory).values()}"
                            th:value="${state}"
                            th:text="${state}">
                    </option>
                </select>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-primary">Add content</button>
            </div>

        </form>
    </div>
</div>


</body>
</html>