<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="title_text" type="String"-->
<!--*/-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="blog_roll" class="blogs" id="blog_roll">
    <div class="page_titles" id="blog_page_title">THE PHOTOGRAPHY & PROJECT BLOG</div>

    <div class="featured_blog_content" id="featured_blog">

        <div th:switch="${firstBlog.imgUrl}">
            <div th:case="'n/a'"></div>
            <div th:case="*" class="blog_image_container"><img th:src="${firstBlog.imgUrl}" class="blog_main_image"/>
            </div>
        </div>

        <div id="featured_blog_content_container">
            <div th:text="${firstBlog.entryName}" class="featured_blog_body" id="feature_blog_name"></div>
            <div th:text="${firstBlog.contentSnippet}" class="featured_blog_body" id="feature_blog_snippet"></div>
            <div th:text="${firstBlog.creator.name}" class="featured_blog_body" id="feature_blog_creator"></div>
            <div th:text="${firstBlog.time}" class="featured_blog_body" id="feature_blog_time"></div>
        </div>

    </div>

    <div class="blog_content" th:each="iter : ${restBlogs}">

        <div th:switch="${iter.imgUrl}">
            <div th:case="'n/a'"></div>
            <div th:case="*" class="blog_image_container"><img th:src="${iter.imgUrl}" class="blog_main_image"/></div>
        </div>

        <div id="blog_content_container">
            <div th:text="${iter.entryName}" class="blog_body" id="blog_name"></div>
            <div th:text="${iter.contentSnippet}" class="blog_body" id="blog_snippet"></div>
            <div th:text="${iter.creator.name}" class="blog_body" id="blog_creator"></div>
            <div th:text="${firstBlog.time}" class="blog_body" id="blog_time"></div>
        </div>

    </div>

</div>

</body>
</html>