<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="title_text" type="String"-->
<!--*/-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- BLOG ROLL PAGE -->>

<div th:fragment="blog_roll" class="blogs" id="blog_roll">
    <div class="page_titles" id="blog_page_title">THE PHOTOGRAPHY & PROJECT BLOG</div>

    <div class="featured_blog_content" id="featured_blog">

        <div class="blog_image_container"><img th:src="'/blog/image/' + ${firstBlog.contentId}" class="blog_main_image"/></div>

        <div id="featured_blog_content_container">
            <div class="featured_blog_body" id="feature_blog_name">
                <a th:href="@{'/blog/' + ${firstBlog.id}}" th:text="${firstBlog.entryName}"></a>
            </div>
            <div th:text="${firstBlog.contentSnippet}" class="featured_blog_body" id="feature_blog_snippet"></div>
            <div th:text="${firstBlog.creator.name}" class="featured_blog_body" id="feature_blog_creator"></div>
            <div th:text="${firstBlog.time}" class="featured_blog_body" id="feature_blog_time"></div>
        </div>

    </div>

    <div class="blog_content" th:each="iter : ${restBlogs}">

        <div class="blog_image_container"><img th:src="'/blog/image/' + ${iter.contentId}" class="blog_main_image"/></div>

        <div id="blog_content_container">
            <div  class="blog_body" id="blog_name">
                <a th:href="@{'/blog/' + ${iter.id}}" th:text="${iter.entryName}">link</a>
            </div>
            <div th:text="${iter.contentSnippet}" class="blog_body" id="blog_snippet"></div>
            <div th:text="${iter.creator.name}" class="blog_body" id="blog_creator"></div>
            <div th:text="${iter.time}" class="blog_body" id="blog_time"></div>
        </div>

    </div>
</div>

<!-- INDIVIDUAL BLOG ENTRY -->

<div th:fragment="blog_entry" id="blog_entry" class="blog_entry_container">
    <div class="blog_entry_image_container"><img th:src="'/blog/image/' + ${contentId}" height="100px" id="blog_entry_image"/></div>
    <div th:text="${entryName}" class="page_titles" id="blog_headline"></div>
    <div class="blog_entry_small_text" id="blog_headline_addition">by: <span th:text="${author}"></span></div>
    <div th:utext="${text}" class="blog_entry_text"></div>
    <div class="blog_entry_end">* * *</div>

</div>

</body>
</html>