<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<meta charset="UTF-8">
<title>Contact</title>
</head>
<body>

<!-- CONTACT PAGE -->>

<div th:fragment="contact_page" class="contacts" id="contact_page">

    <div id="contact_page_content">

        <div class="contact_page_heading">Contact us</div>
        <div class="contact_paragraph">
            <div class="contact_paragraph_text">
                Here comes the info text
            </div>
        </div>

        <form id="contactForm" th:action="@{/site/submit-contact-form}" th:object="${formdata}" method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" placeholder="First name"
                               id="firstName" name="firstName" required="required" th:field="*{firstName}"/>
                    </div>
                    <div class="col">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" placeholder="Last name"
                               id="lastName" name="lastName" required="required" th:field="*{lastName}"/>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                       placeholder="Enter email" required="required" th:field="*{mailAddress}">
                <small id="emailHelp" class="form-text text-muted">Your email address is not stored nor shared with
                    anyone.</small>
            </div>

            <div class="form-group">
                <label for="message">Your message</label>
                <textarea class="form-control" id="message" rows="3"
                          required="required" th:field="*{message}"></textarea>
            </div>

            <div class="frc-captcha" data-sitekey="FCMRESTVDJA1EFG3" data-start="none"></div>

            <button type="submit" class="btn btn-primary" id="submitButton"
                    name="submitButton">Submit</button>
        </form>

    </div>
</div>
</body>
</html>