<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="title_text" type="String"-->
<!--*/-->

<head th:fragment="head_tag">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title_text}">Bringbackdada.com</title>

    <link rel="stylesheet" type="text/css" href="/css/featherlight.custom.css">
    <link rel="stylesheet" type="text/css" href="/css/featherlight.gallery.custom.css">
    <link rel="stylesheet" th:href="@{/fonts/fonts.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/featherlight.min.js"></script>
    <script src="/js/featherlight.gallery.min.js"></script>
    <script src="/js/macy@2.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/jquery.detect_swipe.min.js"></script>


</head>
<body>

<!-- HEADER FOR PUBLIC PAGES -->
<div th:fragment="header_public" class="headers" id="header_public">
    <div id="header_logo_text">bri+gba*kDADA</div>
    <div id="top_menu_container">
        <div class="top_menu" id="home"><a href="/" target="_self">home</a></div>
        <div class="top_menu" id="projects"><a href="/site/photo-projects" target="_self">photography projects</a></div>
        <div class="top_menu" id="blog"><a href="/site/photography-blog" target="_self">artist blog</a></div>
        <div class="top_menu" id="about"><a href="/site/about-bringbackdada" target="_self">about bringbackdada</a></div>
    </div>
</div>

<!-- FOOTER FOR PUBLIC PAGES -->
<div th:fragment="footer_public" class="footers" id="footer_public">
    <div id="footer_copyright"><span id="afooter"><a href="/" target="_self">home</a></span> | bri+gba*kDADA 2020 all
        rights reserved | Creative Commons <a href="https://creativecommons.org/licenses/by-nc/3.0/" target="_blank">CC-BY-NC
            3.0</a></div>
</div>

<!-- ADMIN AREA -->

<!-- HEADER FOR ADMIN PAGES -->
<div th:fragment="header_admin" class="headers" id="header_admin">
    <div class="header_admin_grid">
        <div><a href="/" target="_self">home</a></div>
    </div>
</div>

<div th:fragment="add_admin" class="headers" id="add_admin">
    <div class="add_admin_grid">
        <div><a href="/admin/add-new-content" target="_self">add content</a></div>
        <div><a href="/admin/add-new-gallery" target="_self">add a gallery</a></div>
        <div><a href="/admin/add-new-blog" target="_self">add a blog</a></div>
        <div><a href="/admin/add-new-project" target="_self">add a project</a></div>
    </div>
</div>

<!-- FOOTER FOR ADMIN PAGES -->
<div th:fragment="footer_admin" class="footers" id="footer_admin">
    <div class="footer_admin_grid">
        <div>-- admin footer placeholder --</div>
    </div>
</div>

</body>
</html>