<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="title_text" type="String"-->
<!--*/-->

<head th:fragment="head_tag">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title_text}">Bringbackdada - Error in dynamic title</title>

    <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>

</head>

<body>

<div th:fragment="header">
    <h1>-- header placeholder --</h1>
</div>

<div th:fragment="gallery">
    <h1>-- gallery component placeholder</h1>
</div>

<div th:fragment="footer">
    <h1>-- footer placeholder --</h1>
</div>

</body>

</html>