<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="title_text" type="String"-->
<!--*/-->
<head>
    <meta charset="UTF-8">
    <title>projects</title>
</head>
<body>

<div th:fragment="project_roll">
    <script th:inline="javascript">var galleryCount = [[${galleries}]];</script>
    <div class="page_titles" id="project_page_title">VARIOUS PHOTO SERIES & PROJECTS</div>

    <div th:each="iter : ${projectViewList}">

        <div th:each="projectIt : ${iter.projectItem}">
            <div th:each="project : ${projectIt.projectCmd}">
                <div th:text="${project.name}" class="project_heading"></div>
                <div th:text="${project.description}" class="project_text"></div>

                <div th:id="'macy-container' + ${projectIt.itemId}" data-featherlight-gallery
                     data-featherlight-filter="a" data-featherlight-type="image" class="project_gallery_container">
                    <div class="masonry-content" th:each="content : ${projectIt.featuredContent}">
                        <div class="macy-item">
                            <a th:href="@{'/project/image/' + ${content.id}}" class="gallery2">
                                <img th:src="@{'/project/image/thumb/' + ${content.id}}" class="macy-project-image"
                                     th:alt="${content.altText}"/>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</body>
</html>