
/* GENERAL */

body {
  background-color: #1d2a32;
  color: #d4dfee;
  font-size: 16px;
  line-height: 1.2;
}

a:link {
  color: #ede2de;
  text-decoration: none;
  border-bottom: 1px #747f8d dotted;
}

a:hover,
a:active {
  color: #aca19d;
}

a:active {
  color: #aca19d;
}

/* ALL THE MAIN CSS GRID CONTAINERS */

/*
This is the main container for ALL content and it's width is device dependent.
 */
.top_container {
  width: 60vw;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .top_container {width: 75vw;}
}

@media screen and (max-width: 600px) {
  .top_container {width: 100%;}
}

/*
NOTE! index_grid_container is part of EVERY page called by the browser and should not be defined
in fragments, only as the container for page specific content. See home.html as template.
 */

.index_grid_container {
  display: grid;
  grid-template-columns: 1fr;
}

.admin_grid_container {
  display: grid;
  grid-template-columns: 1fr;
}

/* GENERAL PAGE DESIGN */

.page_titles {
  font-family: 'Lato-Regular', Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  color: #aca19d;
}

/* HOME PAGE */

.home_page_content {
  width: 55%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 8px;
}

.home_paragraph {
  padding-bottom: 8px;
  margin: 0 auto;
}

.home_paragraph_text {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.home_paragraph_small_text {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 13px;
  color: #c4cfbe;
}


/* ABOUT PAGE */

#about_page_content {
  width: 55%;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 16px;
}

.about_page_heading {
  margin: 12px 0 15px 0;
  font-family: 'Lato-Regular', Arial, sans-serif;
  font-size: 26px;
  text-align: center;
  color: #aca19d;
}

.about_paragraph {
  padding-bottom: 10px;
  margin: 0 auto;
}

.about_paragraph_text {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.about_paragraph_small_text {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 13px;
  color: #c4cfbe;
}

/* PHOTO SERIES */

.projects {
  width: 85%;
  margin: 25px auto;
  display: flex;
  justify-content: center;
}

#project_page_title {
  margin: 20px 0 10px 0;
  background-color: #1b2831;
  padding: 10px;
  border-radius: 10px;
}

.project_heading {
  margin: 12px 0 6px 0;
  font-family: 'Lato-Regular', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #aca19d;
}

.project_text {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

/* BLOGS ROLL - FEATURED CONTENT */

.blogs {
  width: 85%;
  margin: 25px auto;
  display: flex;
  justify-content: center;
}

.featured_blog_content {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #1b2831;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 450px) {
  .featured_blog_content {
    display: grid;
    grid-template-columns: 1fr;
  }
}

img.blog_main_image {
  height: 150px;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
}

.featured_blog_body {
  font-family: 'Lato-Regular', Arial, sans-serif;
  font-size: 18px;
}

.featured_blog_body {
  margin: 0 0 0 24px;
}

#featured_blog_content_container {
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  place-self: center stretch;
}

@media screen and (max-width: 450px) {
  #featured_blog_content_container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

#blog_page_title {
  margin: 0 0 10px 0;
  background-color: #1b2831;
  padding: 10px;
  border-radius: 10px;
}

#feature_blog_name {
  font-size: 25px;
}

#feature_blog_snippet {
  color: #dbd8d5;
}

#feature_blog_creator {
  font-size: 14px;
  color: #85909e;
}

#feature_blog_time {
  font-size: 12px;
  color: #85909e;
}

/*
This is the actual blog posts. The top one is full width while the rest are in a
two column layout. We simply collapse the blog posts at a certain min width to
a single column.
 */

#blog_roll {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 900px) {
  #blog_roll {
    display: grid;
    grid-template-columns: 1fr;
  }
}

#blog_page_title {
  grid-column: 1/-1;
}

#featured_blog {
  grid-column: 1/-1;
}

/* BLOGS ROLL - THE 2 COLUMN REST */

.blog_content {
  margin: 14px 4px 0 4px;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #1b2831;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .blog_content {
    margin: 20px 0 7px 0;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #1b2831;
    padding: 10px;
    border-radius: 10px;
  }
}

.blog_body {
  font-family: 'Lato-Regular', Arial, sans-serif;
  font-size: 16px;
}

#blog_content_container {
  margin: 0 2px 0 8px;
  display: grid;
  grid-template-columns: 1fr;
  place-self: center stretch;
}

.blog_body {
  margin: 2px 0 2px 0;
}

#blog_name {
  font-size: 20px;
}

#blog_snippet {
  color: #dbd8d5;
}

#blog_creator {
  font-size: 12px;
  color: #85909e;
}

#blog_time {
  font-size: 10px;
  color: #85909e;
}

/* FORMS */

.input_forms {
  margin: 10px 0 20px 10px;
}

/* HEADERS and FOOTERS */

.headers,
.footers {
  display: flex;
  justify-content: center;
}

/* The HEADER NAV MENU */

/*
This is the actual grid that contains the nav menu links on top.
NOTE! Above a certain width we have condensed the width but since it is
bugs out below 400 pixels we do it selectively.
 */

#top_menu_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (min-width: 500px) {
  #top_menu_container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-self: center;
    justify-self: center;
  }
}

#header_public {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr;
}

#header_logo_text {
  margin: 0 0 14px 0;
  grid-column: 1/-1;
  place-self: center;
  font-family: 'Lato-Regular', Arial, sans-serif;
  font-size: 26px;
}

.top_menu {
  font-family: 'Lato-Regular', Arial, sans-serif;
  font-size: 15px;
  justify-self: center;
}

.menu_item {
  margin: 0 6px 0 6px;
}


/*
These properties together with the styleCurrentPageLink() in scripts.js
together change the link colors depending on page location.
 */

.onCurrentPage a:link {
  color: #696c68;
  text-decoration: none;
  border-bottom: 0 #ede2de dotted;
  pointer-events: none;
  cursor: default;
}

/* The FOOTER text and links */

#footer_public {
  margin: 16px 0 10px 0;
  text-align: center;
}

.footers #footer_copyright {
  font-family: 'Lato-Regular', Arial, sans-serif;
  font-size: 15px;
}

/* The ADMIN headers and footers */

.header_admin_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.footer_admin_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* MACY INDEX CONTAINER */

.macy-image {
  display: block;
  margin: 0 auto;
}

#masonry_grid {
  margin: 20px 0 0 0;
}

/* MACY PROJECT CONTAINER */

.macy-project-image {
  display: block;
  margin: 0 auto;
}

.project_gallery_container {
  margin:  17px 0 10px 0;
}

/* ERROR PAGES */

.error-messages {
  margin: 0 auto;
  font-family: 'Lato-Regular', Arial, sans-serif;
}

#error-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 26px 0 0 0;
}

#error-body {
  margin: 10px 0 20px 0;
  font-size: 15px;
  text-align: center;
}

/* FAIRLIGHT GALLERY */

/* customized gallery */
.featherlight-gallery2 {
  background: rgba(100,100,100,0.5);
}
.featherlight-gallery2 .featherlight-content {
  background: #000;
}
.featherlight-gallery2 .featherlight-next:hover,
.featherlight-gallery2 .featherlight-previous:hover {
  background: rgba(0,0,0,0.5);
}
.featherlight-gallery2 .featherlight-next:hover span,
.featherlight-gallery2 .featherlight-previous:hover span {
  font-size: 25px;
  line-height: 25px;
  margin-top: -12.5px;
  color: #fff;
}
.featherlight-gallery2  .featherlight-close {
  background: transparent;
  color: #fff;
  font-size: 1.2em;
}
.featherlight-gallery2.featherlight-last-slide .featherlight-next,
.featherlight-gallery2.featherlight-first-slide .featherlight-previous {
  display: none;
}
