<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/layout_fragments :: head_tag">
    <title>about</title>
</head>

<body onload="onLoadFuncs()">
<div class="top_container">
    <div class="index_grid_container">
        <div th:replace="fragments/layout_fragments :: header_public"></div>

        <div id="about_page_content">
            <div class="about_page_heading">What is bri+gba*kDADA?</div>

            <div class="about_paragraph"><span class="about_paragraph_text">bri+gba*kDADA <span
                    class="about_paragraph_small_text">(pron: "bringbackdada")</span> is a photography project by Berlin-based
            visual artist Silenceisgrand <span class="about_paragraph_small_text">(SiG for short)</span>. Afters years of urban imagery it
            was time to explore something more organic and this site is the fruition of
            a journey into the qualities of the human body as both a canvas and subject.
            SiG brings here his usual flair for lighting as something of a dialogue with the
                subject and composition as an actively guiding path through each image.
             This project is pretty fresh and for now an open canvas for ideas without setting any particular limits.</span>
            </div>

            <div class="about_page_heading">Model?</div>
            <div class="about_paragraph"><span class="about_paragraph_text">If you would find it interesting to model for bri+gba*kDADA then feel free to contact SiG using this form.
            A few guidelines beforehand though;
                <br>* Most work is on a <a href="https://en.wikipedia.org/wiki/Time_for_print" target="_blank">TFP</a> <span class="about_paragraph_small_text">(time for prints/file)</span> basis simply because this is not a commercial project and we
             have no budgets.
                <br>* You have to be available in Berlin <span class="about_paragraph_small_text">(Germany)</span> for both the photo session/s and for an initial personal meeting beforehand to discuss the details, expectations and workflow.
                <br>* All models are expected to sign a model release form. Please read it before contacting!
                <br>* Everyone on the set works ethically <span class="about_paragraph_small_text">(<a href="https://www.photographerswithoutborders.org/code-of-ethics" target="_blank">here is a great take on that</a>, albeit not directly related to the topics here)</span> but the set is not open for <a href="https://www.thefreedictionary.com/chaperoning" target="_blank">chaperons</a>.
                If you can't work alone directly with the photographer and/or other creative staff then this project is not for you. We simply feel it interrupts the creative flow in a negative way.
            <br>* Please include links to a portfolio of your past work. If you are completely new to photography then please send a link to
             at least one image with your face only and one with your full body. Quality does not matter, it's just so that we have something to go on
             when talking for the first time.</span></div>

            <div class="about_page_heading">Licenses?</div>
            <div class="about_paragraph"><span class="about_paragraph_text">
                If nothing else stated, all the content on this site is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons CC-BY-NC-ND 4.0</a>. This
                means that you can use it freely in
                your own projects as long as you make it fully clear the origins and it is for non-commercial use only. For
                full license details visit <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode" target="_blank">this link</a> and
                if you want to read more on why SiG chooses not to copyright his work - here is a blog on the subject.</span>
            </div>

            <div class="about_page_heading">Contact?</div>
            <div class="about_paragraph"><span class="about_paragraph_text">
               Feel free to contact the bri+gba*kDADA project using this form. SiG is open to all sorts of ideas for collaboration,
            exhibitions and other forms of creative communal activities. Thank you for visiting bri+gba*kDADA!</span>
            </div>
        </div>

        <div th:replace="fragments/layout_fragments :: footer_public"></div>
    </div>
</div>
</body>
</html>