<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/layout_fragments :: head_tag_contact">
    <title>contact</title>
</head>

<body>
<div class="top_container">
    <div class="index_grid_container">
        <div th:replace="fragments/layout_fragments :: header_public"></div>
        <div th:replace="fragments/contact_fragments :: contact_page"></div>
        <div th:replace="fragments/layout_fragments :: footer_public"></div>
    </div>
</div>
</body>
</html>