<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head th:replace="fragments/layout_fragments :: head_tag">
    <title>Bringbackdada.com | Error 400</title>
</head>

<body onload="onLoadFuncs()">

<div class="top_container">
    <div class="index_grid_container">
        <div th:replace="fragments/layout_fragments :: header_public"></div>

        <div class="error-messages">
            <div id="error-header">Error 400 - There was some sort of form error</div>
            <div id="error-body">Please contact the admin of this site and post an issue at
                <a href="https://github.com/mydogspies/bringbackdada/issues" target="_blank">github</a>,
                describing what were the steps that triggered the error.</div>
        </div>

        <div th:replace="fragments/layout_fragments :: footer_public"></div>
    </div>
</div>


<script src="/js/jquery.js"></script>
</body>
</html>